.products {
	padding: 60px 0;

	&__title {
		margin-bottom: 60px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
	}
}

.products-item {
	background: var(--lightGrey);
	border-radius: 30px;
	width: 570px;
	margin-right: 30px;
	margin-bottom: 30px;

	&__img {
		width: 100%;
	}

	&__box {
		padding: 20px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 30px;
	}
}