.news-item {
	&__item {
		height: 100%;
		background: var(--lightGrey);
		border-radius: 30px;
		width: 32%;
		margin-bottom: 30px;
		list-style-type: none;
	}

	&__img {
		width: 100%;
	}

	&__text {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		margin-bottom: 20px;
	}

	&__description {
		min-height: 100px;
		margin-bottom: 30px;
	}
}