.calculator {
	padding: 60px 0px;

	&__title {
		margin-bottom: 30px;
	}

	&__button {
		margin-right: 30px;
		margin-bottom: 30px;

		&:last-child {
			margin-right: 0;
		}

		&_active {
			background: var(--black);
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}