.calculator {
	padding: 60px 0px;

	&__title {
		font-size: 2.5rem;
		margin-bottom: 60px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.left-wrapper-calculator {
	width: 50%;
	margin-right: 100px;

	&__buttons {
		margin-bottom: 60px;
	}

	&__button {
		width: 400px;
		height: 60px;
		font-size: 2rem;
		background: var(--lightGrey);
		border: none;
		cursor: pointer;
		border-radius: 15px;
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background: var(--lightAzure);
		}
	}

	&__name {
		font-size: 2rem;
	}

	&__input {
		width: 100%;
		height: 60px;
		font-size: 2rem;
		border: 4px solid var(--lightGrey);
		padding-left: 15px;
		border-radius: 15px;
		outline: none;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.right-wrapper-calculator {
	width: 50%;
	background: var(--lightGrey);
	padding: 30px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__box {
		width: 100%;
		margin-bottom: 60px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__name {
		font-size: 2rem;
	}

	&__value {
		font-size: 2rem;

		&_button {
			cursor: pointer;
			border: none;
			background: none;
			color: var(--lightAzure);
			font-weight: 700;

			&:hover {
				color: var(--azure);
			}
		}
	}

	&__button {
		width: 400px;
		height: 60px;
		font-size: 2rem;
		font-weight: 700;
		color: var(--white);
		background: var(--lightAzure);
		border: none;
		cursor: pointer;
		border-radius: 15px;

		&:hover {
			background: var(--azure);
		}
	}
}