@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
		url('../../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
		url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
		url('../../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('../../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
		url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--lightGrey: #dee7ee;
	--grey: #9fa8af;
	--lightAzure: #3ec0dd;
	--azure: #11a1c4;
	--black: #333333;
	--white: #ffffff
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: var(--black);
}

.title-h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 60px;
}

.text-h2 {
	font-size: 2rem;
	margin-bottom: 60px;
}

.title-h3 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 30px;
}

.text-h3 {
	font-size: 2rem;
	margin-bottom: 60px;
}

.button {
	width: 400px;
	height: 60px;
	background: var(--grey);
	color: var(--white);
	border: none;
	cursor: pointer;
	border-radius: 15px;
	font-size: 2rem;

	&:hover {
		background: var(--lightAzure);
	}

	&_azure {
		background: var(--lightAzure);

		&:hover {
			background: var(--azure);
		}
	}
}

.button-line {
	font-size: 2rem;
	border: none;
	background: none;
	cursor: pointer;
	text-decoration-line: underline;
}

.button-link {
	width: 400px;
	height: 60px;
	background: var(--grey);
	color: var(--white);
	border: none;
	border-radius: 15px;
	font-size: 2rem;
	text-decoration-line: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: var(--lightAzure);
	}

	&_azure {
		background: var(--lightAzure);

		&:hover {
			background: var(--azure);
		}
	}
}

.container {
	width: 1800px;
	margin: 0 auto;
}

.currency-exchanger {
	padding: 60px 0px;
	background: var(--lightGrey);

	&__container {
		display: flex;
		justify-content: space-between;
	}
}