.header {
	background-color: var(--lightGrey);
	padding: 5px 0px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// .header-location {
// 	font-size: 1rem;
// 	color: var(--darkGrey);
// 	height: fit-content;
// 	border: none;
// 	background: none;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;

// 	&__img {
// 		margin-right: 5px;
// 	}

// 	&:hover {
// 		color: var(--azure);
// 	}
// }