.GreyButton {
	width: 400px;
	height: 60px;
	background: var(--darkGrey);
	color: var(--white);
	border: none;
	cursor: pointer;
	border-radius: 15px;
	font-size: 2rem;

	&:hover {
		background: var(--azure);
	}
}