.footer {
	background-color: var(--darkGrey);
	padding: 60px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.footer-note {
	&__hr {
		width: 100%;
		border: 2px solid var(--white);
		border-radius: 20px;
		margin: 30px 0 30px 0;
	}

	&__text {
		color: var(--white);
		margin-bottom: 30px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
	}

	&__imgs {
		display: flex;
	}

	&__img {
		width: 60px;
		height: 60px;
		display: block;
		background-repeat: no-repeat;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		&_telegram {
			background-image: url(../../assets/icons/telegram.png);

			&:hover {
				background-image: url(../../assets//icons/telegram-hover.png);
			}
		}

		&_vk {
			background-image: url(../../assets/icons/vk.png);

			&:hover {
				background-image: url(../../assets//icons/vk-hover.png);
			}
		}

		&_twitter {
			background-image: url(../../assets/icons/twitter.png);

			&:hover {
				background-image: url(../../assets//icons/twitter-hover.png);
			}
		}
	}
}