.footer {
	background-color: var(--grey);
	padding: 60px;

	// &__container {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// }

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--black);
	}

	&__img {
		margin-right: 5px;
	}

	&__box {
		text-align: center;
	}

	&__name {
		font-size: 1.5rem;
		color: var(--white);
		margin: 0;

		span {
			color: var(--azure);
			font-weight: 700;
		}
	}

	&__designation {
		font-size: 1rem;
		color: var(--lightGrey);
		margin: 0;
	}

	&__hr {
		width: 100%;
		border: 2px solid var(--white);
		border-radius: 20px;
		margin: 40px 0 40px 0;
	}

	&__text {
		font-size: 1.25rem;
		color: var(--white);
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__trademark-text {
		width: 30%;
		font-size: 1.25rem;
		color: var(--white);
	}

	&__network-text {
		font-size: 1.25rem;
		font-weight: 700;
		color: var(--white);
	}

	&__network-img {
		margin-right: 30px;
	}

	&__contacts-title {
		font-size: 1.25rem;
		font-weight: 700;
		color: var(--white);
	}

	&__contacts-text {
		font-size: 1.25rem;
		color: var(--white);
	}
}

.nav-footer {
	&__list {
		padding: 0;
		font-size: 1.25rem;
		display: flex;
		list-style-type: none;
	}

	&__item {
		margin-right: 80px;

		&:last-child {
			margin-right: 0;
		}

		a {
			text-decoration: none;
			color: var(--white);

			&:hover {
				color: var(--azure);
			}
		}
	}
}

.location-footer {
	font-size: 1rem;
	color: var(--white);
	height: fit-content;
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;

	&__img {
		margin-right: 5px;
	}

	&:hover {
		color: var(--azure);
	}
}

.exit-footer {
	display: flex;
	text-decoration: none;
	color: var(--white);

	&__img {
		margin-right: 5px;
	}

	&__name {
		font-size: 1.25rem;

		span {
			color: var(--azure);
		}
	}

	&:hover {
		color: var(--azure);
	}
}