.news {
	padding: 60px;

	&__box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
	}

	&__item {
		background: var(--lightGrey);
		border-radius: 30px;
		width: 570px;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	&__img {
		width: 100%;
	}

	&__text {
		padding: 20px;
	}
}

.news-telegram {
	padding: 60px;
	background: var(--lightGrey);
	border-radius: 30px;
	display: flex;

	&__img {
		margin-right: 60px;
	}
}